.library{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(18,18,18,1) 94%, rgba(82,28,55,1) 100%, 
    rgba(160,64,112,1) 100%);
}
.library-1{
    background-color: #000000;
    
    position: relative;
    top:-542px;
    left: -37px;
    
}
