.music{
   background-color: #181818;
   transition: background-color .6s ease;
   border-radius: 10px;
}
.music:hover{
    background-color:#2a2a2a;
    
}
.music-image{
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    width: 100%;
}